version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    command: gunicorn BuzzPulsePoster.wsgi:application --bind 0.0.0.0:8000
    #ports:
    #  - "8080:8000"  # Expose to host so host Nginx can access it
    restart: unless-stopped
    environment:
      - DJANGO_ALLOWED_HOSTS=''
      - DEBUG=False
      - DJANGO_SETTINGS_MODULE=BuzzPulsePoster.settings
      - CELERY_BROKER_URL=redis://:radis_user$@redis:6379/0
      - CELERY_RESULT_BACKEND=redis://:radis_user$@redis:6379/0
    volumes:
      - static_volume:/usr/src/app/staticfiles
      - media_volume:/usr/src/app/media
      - .:/usr/src/app
    depends_on:
      - redis
    networks:
      - app_network

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery
    command: celery -A BuzzPulsePoster worker --loglevel=info
    environment:
      CELERY_BROKER_URL: redis://:radis_user$@redis:6379/0
      CELERY_RESULT_BACKEND: redis://:radis_user$@redis:6379/0

    volumes:
      - .:/usr/src/app
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - app_network

  beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celerybeat
    command: celery -A BuzzPulsePoster beat --loglevel=info
    environment:
      CELERY_BROKER_URL: redis://:radis_user$@redis:6379/0
      CELERY_RESULT_BACKEND: redis://:radis_user$@redis:6379/0

    volumes:
      - .:/usr/src/app
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - app_network

  redis:
    image: redis:alpine
    container_name: redis
    command: redis-server --requirepass "password"
    restart: unless-stopped
    networks:
      - app_network

  nginx:
      image: nginx:stable-alpine
      container_name: nginx
      depends_on:
        - backend
      ports:
        - "8080:80"
      restart: unless-stopped
      volumes:
        - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        - static_volume:/staticfiles
        - media_volume:/media
      networks:
        - app_network

networks:
  app_network:
    driver: bridge

volumes:
  static_volume:
  media_volume:
