.HW_badge_cont {
    visibility: hidden;
    pointer-events: none;
    display: block;
    cursor: pointer;
    width: 32px;
    height: 32px
}

.HW_bottom {
    bottom: -16px
}

.HW_frame_cont {
    pointer-events: none;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(99, 114, 130, 0.32), 0 8px 16px rgba(27, 39, 51, 0.08);
    background: #fff;
    border: none;
    position: fixed;
    top: -900em;
    z-index: 2147483647;
    width: 340px;
    height: 0;
    opacity: 0;
    will-change: height, margin-top, opacity;
    margin-top: -10px;
    transition: margin-top 0.15s ease-out, opacity 0.1s ease-out;
    overflow: hidden
}

.HW_frame {
    background: #fff;
    border: none;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    z-index: 2147483647
}