<!DOCTYPE html>
<html lang=en-US style>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name=theme-color content=#fff>
<meta name=description
    content="Fanzella is a instagram mother/slave automation tool. Run hundreds of accounts and reach millions per day. Built for agencies.">
<meta name=keywords
    content="fanzella, instagram, auto post, schedule, multiple accounts, social media, mass story viewer, mass story liker">

<link rel=canonical href=https://app.fanzella.com/accounts/new>
<meta http-equiv=content-security-policy
    content="default-src 'none'; font-src 'self' data:; img-src 'self' data:; style-src 'unsafe-inline'; media-src 'self' data:; script-src 'unsafe-inline' data:; object-src 'self' data:; frame-src 'self' data:;">
</head>

<body>


    <div class="skeleton proxy-manager-pro" id=pmp-account>
        <div class="section-header back-button-wh none pt-10 sf-hidden">

        </div>
        <form class=js-ajax-form action=https://app.fanzella.com/accounts/new method=POST autocomplete=off>

            <div class=container-1200>
                <div class="row clearfix">
                    <div class="col s12 m8 l4 mb-20">
                        <section class=section>
                            <div class=section-content>
                                <div class=form-result data-fetch-msg="Detecting username...">
                                </div>



                                <div class=js-login>
                                    <div class=mb-20>
                                        <label class=form-label>
                                            Username
                                        </label>
                                        <input class="input username-box" name=username type=text value
                                            autocomplete=new-password placeholder="Enter username" maxlength=80>
                                    </div>
                                    <div class=mb-20>
                                        <label class=form-label>
                                            Password </label>
                                        <input class="input password-box" name=password type=password
                                            autocomplete=new-password placeholder="Enter password">
                                    </div>

                                    <div class=mb-20>
                                        <a href=javascript:void(0)
                                            class="pmpa-platform-toggler pmpa-toggler-button opened"><span
                                                class="mdi icon mr-3 mdi-arrow-up"></span>Platform</a>
                                    </div>

                                    <div class="clearfix pmpa-platform">
                                        <div class=mb-10>
                                            <label class=form-label>
                                                Platform
                                            </label>
                                            <select class=input name=platform>
                                                <option value=ios selected>iOS</option>
                                                <option value=android>Android</option>
                                            </select>
                                            <ul class=field-tips>
                                                <li>Here you can select the platform for the emulated device. There is
                                                    no big difference, optionally.</li>
                                            </ul>
                                        </div>
                                        <div class=mb-10>
                                            <label class=form-label>
                                                Device (Optional)
                                            </label>
                                            <div class=combobox-ios-devices>
                                                <select
                                                    class="input ios-devices combobox ios-device-full-width select2-hidden-accessible"
                                                    name=ios-device tabindex=-1 aria-hidden=true>
                                                    <option value selected>Default</option>
                                                    <option value=iPhone13,4;17_7;3.00;1284x2778>Apple iPhone 12 Pro Max
                                                    </option>
                                                    <option value=iPhone14,3;17_7;3.00;1284x2778>Apple iPhone 13 Pro Max
                                                    </option>
                                                    <option value=iPhone15,3;17_7;3.00;1290x2796>Apple iPhone 14 Pro Max
                                                    </option>
                                                    <option value=iPhone16,2;17_7;3.00;1290x2796>Apple iPhone 15 Pro Max
                                                    </option>
                                                    <option value=iPhone17,2;17_7;3.00;1320x2868>Apple iPhone 16 Pro Max
                                                    </option>
                                                </select><span
                                                    class="select2 select2-container select2-container--default" dir=ltr
                                                    style=width:325.95px><span class=selection><span
                                                            class="select2-selection select2-selection--single"
                                                            role=combobox aria-haspopup=true aria-expanded=false
                                                            tabindex=0
                                                            aria-labelledby=select2-ios-device-bb-container><span
                                                                class=select2-selection__rendered
                                                                id=select2-ios-device-bb-container
                                                                title=Default>Default</span><span
                                                                class=select2-selection__arrow role=presentation><b
                                                                    role=presentation></b></span></span></span><span
                                                        class=dropdown-wrapper aria-hidden=true></span></span>
                                            </div>
                                            <div class="combobox-android-devices none sf-hidden">

                                            </div>
                                            <ul class=field-tips>
                                                <li>Here you can select the specific device model for the emulation.
                                                    There is no big difference, optionally.</li>
                                                <li>Need to add custom device? Please contact support team, we will add
                                                    it for you.</li>
                                            </ul>
                                        </div>

                                        <div class=mb-20>
                                            <label>
                                                <input type=checkbox class="checkbox sf-hidden" name=old-session
                                                    value=1>
                                                <span>
                                                    <span class="icon unchecked">
                                                        <span class="mdi mdi-check"></span>
                                                    </span>
                                                    Use current Instagram session settings </span>
                                            </label>
                                            <ul class=field-tips>
                                                <li>This checkbox is enabled by default.</li>
                                                <li>When selected, we will try to resume your current Instagram session
                                                    like Instagram app is doing.</li>
                                                <li>If you want to switch to another platform or do a full re-login,
                                                    please unselect this checkbox.</li>
                                            </ul>
                                        </div>
                                    </div>


                                    <div class=mb-20>
                                        <a href=javascript:void(0)
                                            class="pmpa-verification-toggler pmpa-toggler-button opened"><span
                                                class="mdi icon mr-3 mdi-arrow-up"></span>Verification</a>
                                    </div>
                                    <div class="clearfix pmpa-verification">
                                        <div class=mb-20>
                                            <label class=form-label>
                                                Verification
                                            </label>
                                            <select class=input name=choice>
                                                <option value=1 selected>E-mail</option>
                                                <option value=2>Mobile phone</option>
                                                <option value=4>Login confirm from trusted device</option>
                                                <option value=5>Backup codes</option>
                                                <option value=6>WhatsApp</option>
                                            </select>
                                            <ul class=field-tips>
                                                <li>Sometimes Instagram can ask you to verify your identity, choose
                                                    preferred verification method.</li>
                                                <li>Email method is used by default.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class=mb-20>
                                        <a href=javascript:void(0)
                                            class="pmpa-country-toggler pmpa-toggler-button"><span
                                                class="mdi mdi-arrow-down icon mr-3"></span>Country (Optional)</a>
                                    </div>
                                    <div class="clearfix pmpa-country none sf-hidden">

                                    </div>


                                    <div class=mb-20>
                                        <a href=javascript:void(0)
                                            class="pmpa-email-automation-toggler pmpa-toggler-button"><span
                                                class="mdi mdi-arrow-down icon mr-3"></span>Email Verification
                                            Automation (Optional)</a>
                                    </div>

                                    <div class="clearfix pmpa-email-automation none sf-hidden">

                                    </div>

                                    <div class=mb-20>
                                        <a href=javascript:void(0) class="pmpa-iam-toggler pmpa-toggler-button"><span
                                                class="mdi mdi-arrow-down icon mr-3"></span>IAM String (Optional)</a>
                                    </div>
                                    <div class="clearfix pmpa-iam none sf-hidden">

                                    </div>

                                    <div class=mb-20>
                                        <a href=javascript:void(0) class="pmpa-bearer-toggler pmpa-toggler-button"><span
                                                class="mdi mdi-arrow-down icon mr-3"></span>Bearer Token Authentication
                                            (Optional)</a>
                                    </div>
                                    <div class="clearfix pmpa-bearer none sf-hidden">

                                    </div>

                                    <div class=mb-20>
                                        <a href=javascript:void(0) class="pmpa-web-toggler pmpa-toggler-button"><span
                                                class="mdi mdi-arrow-down icon mr-3"></span>Web Session ID
                                            (Optional)</a>
                                    </div>
                                    <div class="clearfix pmpa-web none sf-hidden">

                                    </div>

                                    <div class=mb-20>
                                        <a href=javascript:void(0)
                                            class="pmpa-proxy-toggler pmpa-toggler-button opened"><span
                                                class="mdi icon mr-3 mdi-arrow-up"></span>Proxy</a>
                                    </div>
                                    <div class="clearfix pmpa-proxy">
                                        <div class=mb-20>
                                            <label class=form-label>Proxy (Optional)</label>
                                            <input class=input name=proxy type=text value
                                                placeholder="Proxy for your country">

                                            <ul class=field-tips>
                                                <li>Proxy should match following pattern: http://ip:port OR
                                                    http://username:password@ip:port</li>
                                                <li>Socks5 proxy pattern: socks5://username:password@ip:port OR
                                                    socks5h://username:password@ip:port</li>
                                                <li>It's recommended to to use a proxy belongs to the country where
                                                    you've logged in this acount in Instagram's official app or website.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class=mb-20>
                                        <a href=javascript:void(0)
                                            class="pmpa-settings-toggler pmpa-toggler-button opened"><span
                                                class="mdi icon mr-3 mdi-arrow-up"></span>Additional Settings</a>
                                    </div>
                                    <div class="clearfix pmpa-settings">
                                        <div class=mb-20>
                                            <div class=mb-15>
                                                <label class=form-label>API link to change IP address (Optional)</label>

                                                <input class=input name=rotation-link type=text value
                                                    placeholder="Your API link">
                                                <ul class=field-tips>
                                                    <li>Paste here API link to change IP address of proxy.</li>
                                                </ul>
                                            </div>

                                            <div class="mb-10 login-later-box">
                                                <label>
                                                    <input type=checkbox class="checkbox sf-hidden" name=login-later
                                                        value=1>
                                                    <span>
                                                        <span class="icon unchecked">
                                                            <span class="mdi mdi-check"></span>
                                                        </span>
                                                        Login later (Optional) </span>
                                                </label>
                                                <ul class=field-tips>
                                                    <li>This is an optional feature and needed only in special cases.
                                                    </li>
                                                    <li>You can easily add account details and fully login your account
                                                        later.</li>
                                                </ul>
                                            </div>

                                            <div class="mb-10 is-accelerator-box">
                                                <label>
                                                    <input type=checkbox class="checkbox sf-hidden" name=is_accelerator
                                                        value=1>
                                                    <span>
                                                        <span class="icon unchecked">
                                                            <span class="mdi mdi-check"></span>
                                                        </span>
                                                        This account is an Accelerator (Slave) (Optional) </span>
                                                </label>
                                                <ul class=field-tips>
                                                    <li>This is an optional feature and needed only in special cases.
                                                    </li>
                                                </ul>
                                            </div>




                                        </div>
                                    </div>


                                    <div class=mb-20>
                                        <a href=javascript:void(0)
                                            class="pmpa-android-toggler pmpa-toggler-button opened"><span
                                                class="mdi icon mr-3 mdi-arrow-up"></span>Custom Android User-Agent
                                            (Optional)</a>
                                    </div>
                                    <div class="clearfix pmpa-android">
                                        <div class=mb-20>
                                            <label class=form-label>Custom Android User-Agent (Optional)</label>
                                            <ul class=field-tips>
                                                <li>This option working only for Android platform.</li>
                                                <li>Example: 27/8.1.0; 440dpi; 1080x2030; Xiaomi/xiaomi; Redmi Note 5;
                                                    whyred; qcom</li>
                                                <li>User-Agents for the Android platform you can find <a target=_blank
                                                        href=https://developers.whatismybrowser.com/useragents/explore/software_name/instagram />here</a>.
                                                </li>
                                            </ul>
                                            <input class="input mb-10" name=custom-user-agent type=text value
                                                placeholder="Android User-Agent">
                                            <label class=form-label>Custom Device ID (Optional)</label>
                                            <input class=input name=device-id type=text value placeholder="Device ID">
                                        </div>
                                    </div>



                                </div>

                                <div class="js-browser-extension none sf-hidden">



                                </div>
                                <div class="js-2fa none sf-hidden">




                                </div>
                                <div class="js-challenge none sf-hidden">


                                </div>
                            </div>
                            <div class=js-login>
                                <input class="fluid button button--footer js-login" type=submit value="Add account">
                            </div>
                            <div class="js-2fa js-challenge js-browser-extension none sf-hidden">

                            </div>
                            <div class="js-edit-mode-fields none sf-hidden">

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </form>
    </div>

