@import "tailwindcss";

.sidebar{
    width: 100%;
    min-height: 100vh;
    border: 1px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sidebar-option{
    display: flex;
        align-items: center;
        gap: 12px;
        border: 1px solid #a9a9a9;
        padding: 8px 10px;
        border-radius: 3px 0 0 3px;
        cursor: pointer;
        width: 100%;
}
.sidebar-option.active{
    background-color: #ffffff;
    border-color: rgb(32, 32, 32);
}
.sidebar-option img{
    width: 2vw;
 }

@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
}