@import "tailwindcss";

.sidebar{
    width: 100%;
    min-height: 100vh;
    border: 1px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.topbar-profile .greeting {
    float: left !important;
    margin: 5px 50px 0 5px !important;
}

.topbar-profile {
    margin-top: 17px !important;
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
}

.btn-lg {
    border-radius: 8px !important;
    border: 1px solid #2b69e9 !important;
    padding: 0.4em 1em !important;
    font-size: 1em !important;
    font-weight: 500 !important;
    color: #2b69e9 !important;
    font-family: inherit !important;
    background-color: #ffffff00 !important;
    cursor: pointer !important;
    transition: 0.25s ease-in-out !important;
}
.btn-lg:hover {
    color: #ffffff !important;
    background-color: #2b69e9 !important;
    transition: 0.25s ease-in-out !important;
}

.pf:hover{
        color: #2b69e9 !important;
        transition: 0.25s ease-in-out !important;
    }

.p-pic:hover{
 cursor: pointer;
}

.sidebar-option{
    display: flex;
        align-items: center;
        gap: 12px;
        border: 1px solid #a9a9a9;
        padding: 8px 10px;
        border-radius: 3px 0 0 3px;
        cursor: pointer;
        width: 100%;
}
.sidebar-option.active{
    background-color: #ffffff;
    border-color: rgb(32, 32, 32);
}
.sidebar-option img{
    width: 2vw;
 }


 .context-menu-wrapper {
    position: absolute !important;
}

.pull-left {
    float: left !important;
    right: -155px !important;
    top: 15px !important;
}

@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
}